<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= apiTitles.protected %></h2>
    <p><a href="#">http://localhost:3070/</a></p>
    <h2><%= apiTitles.signin %></h2>
    <p><a href="#">http://localhost:3070/signin</a></p>
    <h2><%= apiTitles.signup %></h2>
    <p><a href="#">http://localhost:3070/signup</a></p>
  </body>
</html>
